
ion-header ion-toolbar.navBar {
  background-color: var(--nav-bar-background-color) !important;
}

.navBar {
  --background: #f1f3f2;
}

ion-header {
  --background: #f1f3f2;
}

ion-toolbar {
  --background: #f1f3f2;
}
.logo {
  width: 150px;
  height: 50px;
  background-image: url('../../assets/images/logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-button {
  cursor: pointer;
}


ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #f0f2f5;
}

.container {
  width: auto;
  max-width: 600px;
  padding: 2rem;
  box-sizing: border-box;
}

.form-card {
  width: auto;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ion-card-title {
  font-size: 1.5rem;
  text-align: center;
}

ion-item {
  --background: #ffffff;
  --border-radius: 8px;
  --padding-start: 1rem;
  --padding-end: 1rem;
}

ion-label {
  font-size: 1rem;
}

ion-input, ion-datetime {
  font-size: 1rem;
}

ion-button {
  margin-top: 1.5rem;
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin-top: 1rem;
}

