<app-menu></app-menu>

<ion-content>
  <div class="login-container">
    <ion-text>Choose a profile to login</ion-text>
    <ion-button fill="solid" class="login-button" (click)="loginAsUser()">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      Login as User
    </ion-button>
    <ion-button fill="solid" class="login-button" (click)="loginAsPartner()">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      Login as Partner
    </ion-button>
  </div>
</ion-content>
