<app-menu></app-menu>

<ion-content>
  <ion-grid class="partner-grid">
    <ion-row>
      <ion-col size="12">
        <div class="partner-container">
          <img src="../../assets/images/person.jpg" alt="Become a Partner" class="partner-image" />
          <h2>Join Us!</h2>
          <p>
            Do you have an eCommerce store? Partner with us to sell products featured in popular movies and series. Reach out to a larger audience and boost your sales.
          </p>
          <ion-button expand="block" color="primary" (click)="becomePartner()">Become a Partner</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
