
<app-menu></app-menu>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="2" size-sm="1" size-md="2"></ion-col>
      <ion-col size="8" size-sm="10" size-md="8">
        <ion-searchbar [(ngModel)]="autocomplete.input" (ionChange)="searchMovie()" placeholder="Type your movie or series name"></ion-searchbar>
      </ion-col>
      <ion-col size="2" size-sm="1" size-md="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12">
        <div class="cards-container">
          <ion-card *ngFor="let movie of movies">
            <img [src]="movie.photo" alt="{{ movie.name }} Poster">
            <ion-card-header>
              <ion-card-title>{{ movie.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              ID: {{ movie.id }}<br>
              API ID: {{ movie.apiId }}
              <ion-button expand="full" (click)="navigateToProducts(movie.id)">
                More
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
