.logo{
  width: 300px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  object-fit: cover;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

ion-header ion-toolbar.navBar {
  background-color: var(--nav-bar-background-color) !important;
}



