.movie-photo {
  max-width: 50px;
  height: auto;
}

.product-photo {
  max-width: 100%;
  height: auto;
}

.description {
  margin-top: 10px;
  font-size: 1.2em;
  color: #666;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 20px;
}
