<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="movie-card">
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="3" size-lg="2">
                <ion-img [src]="this.photo" class="movie-photo"></ion-img>
              </ion-col>
              <ion-col size="12" size-md="9" size-lg="10">
                <h1>{{this.name}}</h1>
                <p><strong>Associate Products with a Movie</strong></p>

                <p>Follow these steps to assign products to a movie:</p>

                <p>1. <strong>Select Products</strong>: Go through the list of products below and click on each product you want to associate with the movie.</p>

                <p>2. <strong>Assign Products</strong>: Once you have selected all the desired products, scroll to the bottom of the page.</p>

                <p>3. <strong>Finalize Assignment</strong>: Click the "Assign" button to complete the process.</p>

                <p>By following these steps, you will successfully link the chosen products to the movie.</p>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let product of products">
          <ion-card>
            <ion-img [src]="product.photos[0]?.url" class="product-photo"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ product.name }}</ion-card-title>
              <ion-card-subtitle>Price: {{ product.price }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Shipping Price: {{ product.shippingPrice }}</p>
              <ion-item>
                <ion-label>Select Product</ion-label>
                <ion-checkbox (ionChange)="toggleProductSelection(product)" slot="start"></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button (click)="assignProductToMovie()" expand="full">Assign Selected Products to Movie</ion-button>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  </div>
</ion-content>
