<ion-app>
  <ion-header>
    <ion-toolbar class="navBar">
      <ion-buttons slot="start">
        <div class="logo"></div>
      </ion-buttons>

      <ion-buttons slot="end" class="nav-buttons">
        <ion-button (click)="navigateTo('add-products')">Add Products</ion-button>
        <ion-button (click)="navigateTo('add-products-to-movies')">Add Products to Movies</ion-button>
        <ion-button (click)="navigateTo('movies-and-products')">Movies and products</ion-button>
        <ion-button (click)="navigateTo('see-orders')">See Orders</ion-button>
        <ion-button (click)="logOut()" color="danger">Log Out</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
