ion-card.main-card,
ion-card.merchant-card,
ion-card.product-card {
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ion-card.product-card {
  width: 100%;
  max-width: 300px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  ion-card.product-card {
    max-width: 100%; /* Allow cards to stretch on larger screens */
  }
}

ion-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ion-card-title {
  font-size: 1em;
  font-weight: bold;
}

ion-card-content p {
  margin: 0;
  font-size: 0.8em;
  color: #555;
}

ion-grid {
  padding: 0 5px;
}

ion-row {
  margin-bottom: 5px;
  justify-content: center; /* Center align items in row */
}

ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Allow column to stretch */
}

.loading-text {
  text-align: center;
  font-size: 1.2em;
  color: #999;
  margin-top: 20px;
}
