<ion-content *ngIf="movieData">
  <app-menu></app-menu>
  <ion-grid>
    <ion-row *ngIf="movieData.photo && movieData.name">
      <ion-col size="12">
        <ion-card class="main-card">
          <img [src]="movieData.photo" alt="{{ movieData.name }} Poster">
          <ion-card-header>
            <ion-card-title>{{ movieData.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="movieData.merchants">
      <ion-col size="12" *ngFor="let merchant of movieData.merchants">
        <ion-card class="merchant-card">
          <ion-card-header>
            <ion-card-title>Sold by: {{ merchant.id }}</ion-card-title>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="4" *ngFor="let product of merchant.products">
                <ion-card class="product-card">
                  <img *ngIf="product.photos && product.photos[0]" [src]="product.photos[0].url" alt="{{ product.name }} Image">
                  <ion-card-header>
                    <ion-card-title>{{ product.name }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>ID: {{ product.id }}</p>
                    <p>Price: {{ product.price }}</p>
                    <p>Shipping Price: {{ product.shippingPrice }}</p>
                    <ion-button fill="solid" (click)="buyProduct(product.id, product.name, product.price, merchant.id)">
                      {{ isLoggedIn ? 'Buy' : 'Login to buy' }}
                      <ion-icon slot="end"></ion-icon>
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!movieData">
  <app-menu></app-menu>
  <p class="loading-text">We have not found merchants offering products for this visual production</p>
  <ion-button expand="block" (click)="navigateToHome()">
    Continue searching...
  </ion-button>

  <p class="loading-text">If you manufacture a product that has been featured in a film or television series and are interested in offering it to others, we invite you to become a partner.</p>
  <ion-button expand="block" color="primary" (click)="becomePartner()">Become a Partner</ion-button>
</ion-content>
