<app-menu></app-menu>

<ion-content>
  <h2 class="ion-text-center">User Login</h2>
  <ion-grid class="ion-justify-content-center ion-align-items-center full-height">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" size-md="6" size-lg="4">
        <form (ngSubmit)="login()" class="ion-padding login-container">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>
          <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
          <ion-button type="submit" expand="block" class="login-button">Login</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
