.logo{
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

ion-header ion-toolbar.navBar {
  background-color: var(--nav-bar-background-color) !important;
}



