<app-menu></app-menu>
<ion-content>
  <ion-list *ngIf="orders.length > 0">
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h3>Order ID: {{ order.id }}</h3>
        <p>Status: {{ order.status }}</p>
        <p>Created At: {{ order.createdAt | date }}</p>

        <h4>User Information</h4>
        <p>Name: {{ order.user.name }}</p>
        <p>Email: {{ order.user.id }}</p>
        <p>Address: {{ order.user.address1 }}, {{ order.user.city }}, {{ order.user.state }}, {{ order.user.zipCode }}</p>
        <p>Mobile: {{ order.user.mobile }}</p>

        <h4>Merchant Information</h4>
        <p>Name: {{ order.merchant.name }}</p>
        <p>Email: {{ order.merchant.emailPaypal }}</p>
        <p>Address: {{ order.merchant.address1 }}, {{ order.merchant.city }}, {{ order.merchant.state }}, {{ order.merchant.zipCode }}</p>
        <p>Mobile: {{ order.merchant.mobile }}</p>

        <h4>Products</h4>
        <ion-list>
          <ion-item *ngFor="let product of order.product">
            <ion-thumbnail slot="start">
              <img *ngIf="product.photos && product.photos.length > 0" [src]="product.photos[0].url" alt="{{ product.name }} Image">
            </ion-thumbnail>
            <ion-label>
              <h5>{{ product.name }}</h5>
              <p>Price: {{ product.price }}</p>
              <p>Shipping Price: {{ product.shippingPrice }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-button *ngIf="order.status === 'ORDERED'" (click)="payOrder(order.id)">
          Pay
        </ion-button>

        <div *ngIf="order.showCardInput" class="card-input">
          <ion-item>
            <ion-label position="floating">Card Number</ion-label>
            <ion-input type="text" [(ngModel)]="order.cardNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Expiration Date</ion-label>
            <ion-input type="text" placeholder="MM/YY" [(ngModel)]="order.expirationDate"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cardholder Name</ion-label>
            <ion-input type="text" [(ngModel)]="order.cardName"></ion-input>
          </ion-item>
          <ion-button (click)="submitPayment(order.id)">Submit Payment</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="orders.length === 0">
    <ion-item>
      <ion-label>No orders available.</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
