<app-menu></app-menu>
<ion-content>
  <ion-list *ngIf="orders.length > 0">
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h3>Order ID: {{ order.id }}</h3>
        <p>Status: {{ order.status }}</p>
        <p>Created At: {{ order.createdAt | date }}</p>

        <h4>User Information</h4>
        <p>Name: {{ order.user.name }}</p>
        <p>Email: {{ order.user.id }}</p>
        <p>Address: {{ order.user.address1 }}, {{ order.user.city }}, {{ order.user.state }}, {{ order.user.zipCode }}</p>
        <p>Mobile: {{ order.user.mobile }}</p>

        <h4>Merchant Information</h4>
        <p>Name: {{ order.merchant.name }}</p>
        <p>Email: {{ order.merchant.emailPaypal }}</p>
        <p>Address: {{ order.merchant.address1 }}, {{ order.merchant.city }}, {{ order.merchant.state }}, {{ order.merchant.zipCode }}</p>
        <p>Mobile: {{ order.merchant.mobile }}</p>

        <h4>Products</h4>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img *ngIf="order.product.photos && order.product.photos.length > 0" [src]="order.product.photos[0].url" alt="{{ order.product.name }} Image">
            </ion-thumbnail>
            <ion-label>
              <h5>{{ order.product.name }}</h5>
              <p>Price: {{ order.product.price }}</p>
              <p>Shipping Price: {{ order.product.shippingPrice }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-button *ngIf="order.status === 'ORDERED'" (click)="payOrder(order.id)">
          Pay
        </ion-button>
        <ion-button *ngIf="order.status === 'PRODUCT_SENT'" (click)="orderReceived(order.id)">
          Confirm order received
        </ion-button>

        <div *ngIf="order.showCardInput" class="card-input">
          <ion-item>
            <ion-label type="email">Paypal e-mail: {{ order.merchant.emailPaypal }}</ion-label>
          </ion-item>
          <p class="instruction">Please use the merchant's PayPal email to transfer the money. After the transfer, click on Submit Payment to complete the payment.</p>
          <ion-button (click)="submitPayment(order.id)">Mark as Payed</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="orders.length === 0">
    <ion-item>
      <ion-label>No orders available.</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
