<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateHome()">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
    <ion-title>User Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToPurchasedItems()">
        Purchased Items
      </ion-button>
      <ion-button (click)="navigateToUserOrders()">
        My Orders
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
