.container {
  padding: 16px;
  margin-top: 130px; /* Default margin for small screens */
}

/* Media query for large screens */
@media (min-width: 768px) {
  .container {
    margin-top: 10px;
  }
}

ion-card {
  margin: 16px 0;
}

ion-button {
  margin-top: 16px;
}

ion-item img {
  display: block;
  margin-top: 8px;
}
